:root {
  font-family: "Playpen Sans", cursive, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 360px;
  height: 100vh;
  background-color: #242424;
  background-image: url(./images/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
}

/* audio style */

.toggle-label {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid red;
  box-shadow: 0 4px 8px red;
  transition: background-color 1s ease;
}

.toggle-switch:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-switch:hover,
.toggle-switch:focus {
  background-color: rgba(255, 0, 0, 0.87);
  transition: background-color 1s ease;
}

.toggle-label input:checked + .toggle-switch:before {
  transform: translateX(20px);
}

/* game style */

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.title {
  font-size: 3rem;
  text-shadow: 0 4px 8px red;
}

.score-text {
  font-size: 2rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border: 3px solid red;
  border-radius: 1rem;
  font-weight: 800;
  scale: 1;
  box-shadow: 0 4px 8px red;
  transition: scale 0.4s ease;
}

.button:hover,
.button:focus {
  scale: 0.9;

  transition: scale 0.4s ease;
}

.game-board {
  border: 3px solid red;
  border-radius: 1rem;
}

/* .game-board.paused {
  background-image: url("/images/snake-1.png");
  background-size: cover;
  background-position: center;
}

.game-board.game-over {
  background-image: url("/images/snake-2.png");
  background-size: cover;
  background-position: center;
} */
